<header id="header">
    <div class="header-top">
        <div class="logo-container">
            <!-- Update path for bookshelf-logo.png -->
            <img src="/bookshelf-logo.png" alt="Bookshelf Logo" class="logo">
        </div>
        <div class="header-links">
            <!-- Updated About Us link -->
            <a href="/about-us" class="about-us">About Us</a>
            <!-- Updated Cart image path -->
            <a href="/cart">
                <img src="/Cart.png" alt="Cart image">
            </a>
            <a href="/signup-page" class="login-button">Log in</a>
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="/prb">Pre-loved volumes</a></li>
            <li><a href="/Podcasts">Podcast</a></li>
            <li><a href="/student-corner">Students' Shelf</a></li>
            <li><a href="/wholesale-buyer">Wholesale</a></li>
            <li><a href="/seller-form">Sell Book</a></li>
        </ul>
    </nav>
</header>
