<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/req-quote-wholesale-buyer/static/styles.css">

</head>

<body background="/req-quote-wholesale-buyer/static/image.png"> 
    <!-- Header Section -->
    <%- include('../partials/header.ejs') %>
        <main>
            <section class="quote-request">
                <h2>Request A Quote</h2>
                <p>To request a quote for your bulk book order simply complete this short form and we will email you the
                    quote within the next 1 to 24 hours.</p>

                <form>
                    <label for="full-name">Full Name:</label>
                    <input type="text" id="full-name" placeholder="Full Name" required>

                    <label for="mobile-number">Mobile Number:</label>
                    <input type="tel" id="mobile-number" placeholder="Mobile Number" required>

                    <label for="state">State:</label>
                    <input type="text" id="state" placeholder="State" required>

                    <label for="city">City:</label>
                    <input type="text" id="city" placeholder="City">

                    <label for="isbn-title">Book Title:</label>
                    <input type="text" id="isbn-title" placeholder="Book Title" required>
                    <label for="isbn-title">ISBN:</label>
                    <input type="text" id="isbn-title" placeholder="ISBN" required>

                    <label for="quantity">Quantity Needed:</label>
                    <input type="number" id="quantity" placeholder="Quantity" required>

                    <label for="comments">Comments/Requirements:</label>
                    <textarea id="comments" rows="4"></textarea>

                    <a href="../Thankyou request sent/"><button class="submit-btn">Submit</button> </a>
                </form>
            </section>
        </main>

        <%- include('../partials/footer.ejs') %>
</body>

</html>