<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookshelf</title>
    <link rel="stylesheet" href="/student-corner/static/styles.css">
</head>

<body>
    
    <!-- Header Section -->
    <%- include('../partials/header.ejs') %>
    <!-- Main Content -->
    <main>
        <section class="hero">
            <h1>Brush Up Your Concepts</h1>

            <p>Attending school or college? Worried about availability of books?<p>
            <div class="heroimages">
                <img src="/student-corner/static/circle.png" alt="Books" class="hero-image">
                <img src="/student-corner/static/book and flowerrs.png" alt="" class="hero-image2">
            </div>
        </section>

        <!-- Students' Corner Section -->
        <section class="students-corner">
            <h2>Students’ Corner</h2>
            <p class="brushup">Brush Up On Your Concepts</p>
            <p class="brushup">Showing 97 books</p>
            <div class="book-grid">
                <div class="book-item">
                    <img src="/student-corner/static/1.png" alt="Foundation Mathematics">
                    <p>Foundation Mathematics</p>
                    <p class="book-price">₹167</p>
                    <a href="../cart/index.html"><button class="add-to-cart-btn">Add to Cart</button></a>
                </div>
                <div class="book-item">
                    <img src="/student-corner/static/2.png" alt="Science for Class 8">
                    <p>Science for Class 8</p>
                    <p class="book-price">₹222</p>
                    <a href="../cart/index.html"><button class="add-to-cart-btn">Add to Cart</button></a>
                </div>
                <div class="book-item">
                    <img src="/student-corner/static/3.png" alt="Business Studies">
                    <p>Business Studies</p>
                    <p class="book-price">₹207</p>
                    <a href="../cart/index.html"><button class="add-to-cart-btn">Add to Cart</button></a>
                </div>
                <div class="book-item">
                    <img src="/student-corner/static/4.png" alt="Physical Education">
                    <p>Physical Education</p>
                    <p class="book-price">₹143</p>
                    <a href="../cart/index.html"><button class="add-to-cart-btn">Add to Cart</button></a>
                </div>
                <div class="book-item">
                    <img src="/student-corner/static/5.png" alt="ISC Chemistry">
                    <p>ISC Chemistry</p>
                    <p class="book-price">₹199</p>
                    <a href="../cart/index.html"><button class="add-to-cart-btn">Add to Cart</button></a>
                </div>
                <div class="book-item">
                    <img src="/student-corner/static/6.png" alt="Snapshots English">
                    <p>Snapshots English</p>
                    <p class="book-price">₹55</p>
                    <a href="../cart/index.html"><button class="add-to-cart-btn">Add to Cart</button></a>
                </div>
                <div class="book-item">
                    <img src="/student-corner/static/7.png" alt="Computer Science">
                    <p>Computer Science</p>
                    <p class="book-price">₹189</p>
                    <a href="../cart/index.html"><button class="add-to-cart-btn">Add to Cart</button></a>
                </div>
                <div class="book-item">
                    <img src="/student-corner/static/8.png" alt="Entrepreneurship">
                    <p>Entrepreneurship</p>
                    <p class="book-price">₹208</p>
                    <a href="../cart/index.html"><button class="add-to-cart-btn">Add to Cart</button></a>
                </div>
                <div class="book-item">
                    <img src="/student-corner/static/9.png" alt="Mathematics for Class 5">
                    <p>Mathematics for Class 5</p>
                    <p class="book-price">₹215</p>
                    <a href="../cart/index.html"><button class="add-to-cart-btn">Add to Cart</button></a>
                </div>
                <div class="book-item">
                    <img src="/student-corner/static/10.png" alt="Mathematics for Class 10">
                    <p>Mathematics for Class 10</p>
                    <p class="book-price">₹89</p>
                    <a href="../cart/index.html"><button class="add-to-cart-btn">Add to Cart</button></a>
                </div>
                <div class="book-item">
                    <img src="/student-corner/static/11.png" alt="Science for Class X">
                    <p>Science for Class X</p>
                    <p class="book-price">₹169</p>
                    <a href="../cart/index.html"><button class="add-to-cart-btn">Add to Cart</button></a>
                </div>
                <div class="book-item">
                    <img src="/student-corner/static/12.png" alt="CS for Class 11">
                    <p>CS for Class 11</p>
                    <p class="book-price">₹140</p>
                    <a href="/cart/index.html"><button class="add-to-cart-btn">Add to Cart</button></a>
                </div>

            </div>
            </div>
        </section>
    </main>

    <!-- Footer Section -->
    <%- include('../partials/footer.ejs') %>
</body>

</html>