<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Bookshelf - Wholesale</title>
    <style>  
        .responsive-img {  
            width: 150px;  
            height: auto;  
        }  
    </style>  

    <link href="/wholesale-buyer/static/styles.css" rel="stylesheet">
</head>

<body>
<!-- Header Section -->
<script src="wholesale.js"></script>

<%- include('../partials/header.ejs') %>
<main>
    <section class="banner">
        <div class="book-grid">
            <img alt="The Missing Ones" src="/wholesale-buyer/static/book1.png">
            <img alt="The Hobbit" src="/wholesale-buyer/static/hobbit.png">
            <img alt="The Lord of the Rings" src="/wholesale-buyer/static/lord%20rings.png">
            <img alt="" src="/wholesale-buyer/static/book%204.png">
            <img alt="" src="/wholesale-buyer/static/harry.png">
            <img alt="" src="/wholesale-buyer/static/stephen%20king.png">
            <img alt="" src="/wholesale-buyer/static/hobbit.png">
            <img alt="" src="/wholesale-buyer/static/diary.png">
            <img alt="" src="/wholesale-buyer/static/book1.png">
            <img alt="" src="/wholesale-buyer/static/bookthief.png">
            <img alt="" src="/wholesale-buyer/static/harry.png">
            <img alt="" src="/wholesale-buyer/static/book%204.png">

        </div>
        <div class="wholesale-offer">
            <h2>Wholesale</h2>
            <a class="quote-btn" href="/req-quote-wholesale-buyer">Get Quote!!</a>
            <p>Up to 60% off</p>
        </div>
    </section>

    <section class="wholesale-info">
        <div class="info-box">
            <img alt="Pricing Guarantee" src="/wholesale-buyer/static/Group%2060.png">

        </div>
    </section>
    <section class="bulk-options">
        <h1>We are a one-stop solution for all your bulk order needs</h1>

        <hr class="styled-hr">
        <div class="option-grid">
            <div class="option-box">
                <img class="responsive-img" alt="Mix Bestseller" src="/wholesale-buyer/static/mix%20bestseller.png" >
            </div>
            <div class="option-box">
                <img class="responsive-img"  alt="Hard Cover Children Books" src="/wholesale-buyer/static/hardcoverchildrenbooks.png">
            </div>
            <div class="option-box">
                <img class="responsive-img" alt="Paperback" src="/wholesale-buyer/static/paperback.png">
            </div>
            <div class="option-box">
                <img class="responsive-img"  alt="Mix Teen Books" src="/wholesale-buyer/static/mix%20teen.png">
            </div>
            <div class="option-box">
                <img class="responsive-img" alt="Business Books" src="/wholesale-buyer/static/bussiness.png">
            </div>
            <div class="option-box">
                <img class="responsive-img"alt="Children Books" src="/wholesale-buyer/static/mixchildren.png">
            </div>
            <div class="option-box">
                <img class="responsive-img"alt="Interactive Children Books" src="/wholesale-buyer/static/interactive%20chidlren%20books.png">
            </div>
            <div class="option-box">
                <img class="responsive-img"alt="Biography" src="/wholesale-buyer/static/biography.png">
            </div>
        
    </section>
    

    <section class="quote-section">
        <a class="quote-btn" href="/req-quote-wholesale-buyer">Get Quote!!</a>
    </section>
</main>

<%- include('../partials/footer.ejs') %>
</body>
</html>
