<!DOCTYPE html>  
<html lang="en">  
<head>  
  <meta charset="UTF-8">  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <title>My Bookshelf</title>  
  <link rel="stylesheet" href="static/about_us.css">  
</head>  
<body>  

          <!-- Header Section -->
          <%- include('../partials/header.ejs') %>
      <main>  
        <section class="contact">  
            <div class="contact-content">  
                <div class="contact-text">  
                    <div class="ribbon">  
                      <h2>Overview </h2>  
                    </div> 
        
            
          <div class="overview-content">  
            <div class="overview-text">  
              <p>We are dedicated to offering pre-loved books at affordable prices</p>
              <p> promoting economic accessibility and resource reuse. Our mission</p><p>
               is to provide a platform where you can explore diverse streams,</p> from podcasts to finding your perfect read, all in one convenient place.</p>  
              <p>Join us in our commitment to sustainability, affordability, and a world of endless literary delights.</p>  
            </div>  
            <div class="overview-image">  
              <img src="static/aboutus.png" alt="Overview Image">  
            </div>  
          </div>  
        </section>  
      
        <section class="contact">  
          <div class="contact-content">  
            <div class="contact-image">  
              <img src="static/contact_us_pic.png" alt="Contact Us Image">  
            </div>  
            <div class="contact-text">  
              <div class="ribbon">  
                <h2>Contact Us</h2>  
              </div>  
              <p>Don’t hesitate to get in touch with us.
                Our team is ready to assist you with any inquiries you may have.<p>
                We look forward to help you!!</p> 
                <br>
                <div class="contact-info">  
                    <img src="static/Location.png" alt="Location Icon" class="contact-address"> 
                <p>  H-Block,Sector-63,Noida,Uttar Pradesh,201301</p> </div>
                <div class="contact-info">  
                    <img src="static/mail.png" alt="Email Icon" class="contact-icon">
              <p>info@example.com</p>   </div>
              <div class="contact-info">  
                <img src="static/Phone.png" alt="Phone Icon" class="contact-icon"> 
              <p>123-456-7890</p>   </div>
            </div>  
          </div>  
        </section>  
      </main>
      
        
      </main>

      <!-- Footer Section -->
      <%- include('../partials/footer.ejs') %>
</body>  
</html>